# 맵픽 서비스랩의 테마지도 제작을 위한 프로젝트입니다.
- 2024년 최대 이슈인 의대 정원 증원에 대해 살펴보고
- 그 영향을 시각화하여 지도에 표시하고자 합니다.

In [4]:
# 필요라이브러리
import pandas as pd

# 원천데이터
- 2023년_2nd_고등학교별_학과별_재적_재학_휴학_유학생_교원_240103y.xlsx: KESS(교육통계서비스), 기준연월 2023.10, 자료추출일: 2024.01.02.

In [10]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',100)
df = pd.read_excel('../2023년_2nd_고등학교별_학과별_재적_재학_휴학_유학생_교원_240103y.xlsx', 
                   sheet_name = '학교별 학과별 주요 현황', skiprows=12)
df.head()

,연도,학제,대학원구분,학교명,학교상태,본분교,시도,시군구,설립,주야구분,주소,우편번호,전화번호,팩스번호,홈페이지,학위과정,대계열,중계열,소계열,학과코드,학과명,학과수_전체,학과수_석사,학과수_박사,재적생_전체_계,재적생_전체_남,재적생_전체_여,재학생_전체_계,재학생_전체_남,재학생_전체_여,휴학생_전체_계,휴학생_전체_남,휴학생_전체_여,유예생_전체_계,유예생_전체_남,유예생_전체_여,재적생_석사_계,재적생_석사_남,재적생_석사_여,재학생_석사_계,재학생_석사_남,재학생_석사_여,휴학생_석사_계,휴학생_석사_남,휴학생_석사_여,재적생_박사_계,재적생_박사_남,재적생_박사_여,재학생_박사_계,재학생_박사_남,재학생_박사_여,휴학생_박사_계,휴학생_박사_남,휴학생_박사_여,외국인유학생_총계_계,외국인유학생_총계_남,외국인유학생_총계_여,외국인유학생_학사_계,외국인유학생_학사_남,외국인유학생_학사_여,외국인유학생_석사_계,외국인유학생_석사_남,외국인유학생_석사_여,외국인유학생_박사_계,외국인유학생_박사_남,외국인유학생_박사_여,전임교원_계,전임교원_남,전임교원_여,비전임교원_계,비전임교원_남,비전임교원_여,시간강사_계,시간강사_남,시간강사_여
0,2023,전문대학,NaN,강원도립대학교,기존,본교(제1캠퍼스),강원,강원 강릉시,공립,주간,"강원특별자치도 강릉시 주문진읍 연주로 270 (교항리, 강원도립대학)",25425,033-660-8000,033-660-8015,http://www.gw.ac.kr,전문대학,사회계열,경영ㆍ경제,관광,C02010200060,호텔관광과,1,0,0,71,34,37,47,19,28,24,15,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,6,3,3,0,0,0
1,2023,전문대학,NaN,강원도립대학교,기존,본교(제1캠퍼스),강원,강원 강릉시,공립,주간,"강원특별자치도 강릉시 주문진읍 연주로 270 (교항리, 강원도립대학)",25425,033-660-8000,033-660-8015,http://www.gw.ac.kr,전문대학,사회계열,경영ㆍ경제,관광,C02010200316,항공크루즈서비스과,1,0,0,46,24,22,37,18,19,9,6,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,1,0,0,0,0,0,0,0,1,0,1,8,1,7,0,0,0
2,2023,전문대학,NaN,강원도립대학교,기존,본교(제1캠퍼스),강원,강원 강릉시,공립,주간,"강원특별자치도 강릉시 주문진읍 연주로 270 (교항리, 강원도립대학)",25425,033-660-8000,033-660-8015,http://www.gw.ac.kr,전문대학,사회계열,사회과학,행정,C02030400258,공공인재융합과,1,0,0,87,35,52,60,17,43,27,18,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,1,0,0,0,0,0,0,5,4,1,5,2,3,0,0,0
3,2023,전문대학,NaN,강원도립대학교,기존,본교(제1캠퍼스),강원,강원 강릉시,공립,주간,"강원특별자치도 강릉시 주문진읍 연주로 270 (교항리, 강원도립대학)",25425,033-660-8000,033-660-8015,http://www.gw.ac.kr,전문대학,교육계열,유아교육,유아교육,C03020100077,유아안전보육과,1,0,0,1,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2023,전문대학,NaN,강원도립대학교,기존,본교(제1캠퍼스),강원,강원 강릉시,공립,주간,"강원특별자치도 강릉시 주문진읍 연주로 270 (교항리, 강원도립대학)",25425,033-660-8000,033-660-8015,http://www.gw.ac.kr,전문대학,공학계열,토목ㆍ도시,건설,C04020100014,건설토목과,1,0,0,2,2,0,0,0,0,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# 대상교육기관 = 의대보유 대학교
- 자료출처: 보건복지부 보도자료(2024.02.06.)
- 대학학과: 의예과(한국의 경우, 학사과정인 의학과 진학을 위해서는 의예과 이수가 필수)

In [24]:
# 전국 40개 대학교
li_medi = [
        '서울대학교',
        '경희대학교',
        '연세대학교',
        '한양대학교',
        '고려대학교',
        '가톨릭대학교',
        '중앙대학교',
        '이화여자대학교',
        '인하대학교',
        '가천대학교',
        '부산대학교',
        '인제대학교',
        '고신대학교',
        '동아대학교',
        '울산대학교',
        '경북대학교',
        '계명대학교',
        '영남대학교',
        '대구가톨릭대학교',
        '전남대학교',
        '조선대학교',
        '충남대학교',
        '건양대학교',
        '을지대학교',
        '성균관대학교(이원화캠퍼스)',
        '아주대학교',
        '차의과학대학교',
        '강원대학교',
        '연세대학교(분교)',
        '한림대학교',
        '가톨릭관동대학교',
        '동국대학교(분교)',
        '경상국립대학교',
        '전북대학교',
        '원광대학교',
        '충북대학교',
        '건국대학교(분교)',
        '순천향대학교',
        '단국대학교(이원화캠퍼스)',
        '제주대학교']

# EDA
- 의약계열 검색 시 학교마다 일반대학원, 의학전문대학원 등 다수 검색: 의약계열에서 관련 학과를 골라야함

In [25]:
# 컬럼탐색
df.columns

Index(['연도', '학제', '대학원구분', '학교명', '학교상태', '본분교', '시도', '시군구', '설립', '주야구분',
       '주소', '우편번호', '전화번호', '팩스번호', '홈페이지', '학위과정', '대계열', '중계열', '소계열',
       '학과코드', '학과명', '학과수_전체', '학과수_석사', '학과수_박사', '재적생_전체_계', '재적생_전체_남',
       '재적생_전체_여', '재학생_전체_계', '재학생_전체_남', '재학생_전체_여', '휴학생_전체_계', '휴학생_전체_남',
       '휴학생_전체_여', '유예생_전체_계', '유예생_전체_남', '유예생_전체_여', '재적생_석사_계', '재적생_석사_남',
       '재적생_석사_여', '재학생_석사_계', '재학생_석사_남', '재학생_석사_여', '휴학생_석사_계', '휴학생_석사_남',
       '휴학생_석사_여', '재적생_박사_계', '재적생_박사_남', '재적생_박사_여', '재학생_박사_계', '재학생_박사_남',
       '재학생_박사_여', '휴학생_박사_계', '휴학생_박사_남', '휴학생_박사_여', '외국인유학생_총계_계',
       '외국인유학생_총계_남', '외국인유학생_총계_여', '외국인유학생_학사_계', '외국인유학생_학사_남',
       '외국인유학생_학사_여', '외국인유학생_석사_계', '외국인유학생_석사_남', '외국인유학생_석사_여',
       '외국인유학생_박사_계', '외국인유학생_박사_남', '외국인유학생_박사_여', '전임교원_계', '전임교원_남',
       '전임교원_여', '비전임교원_계', '비전임교원_남', '비전임교원_여', '시간강사_계', '시간강사_남',
       '시간강사_여'],
      dtype='object')

In [27]:
print(df.loc[df['학교명'].isin(li_medi)]['학교명'].unique(),'\n')
print(df.loc[df['학교명'].isin(li_medi)]['학교명'].nunique())

['강원대학교' '경북대학교' '경상국립대학교' '부산대학교' '서울대학교' '전남대학교' '전북대학교' '제주대학교' '충남대학교'
 '충북대학교' '가톨릭대학교' '건양대학교' '가천대학교' '경희대학교' '계명대학교' '고려대학교' '고신대학교'
 '가톨릭관동대학교' '대구가톨릭대학교' '동아대학교' '순천향대학교' '아주대학교' '연세대학교' '영남대학교' '울산대학교'
 '원광대학교' '을지대학교' '이화여자대학교' '인제대학교' '인하대학교' '조선대학교' '중앙대학교' '차의과학대학교'
 '한림대학교' '한양대학교']

35

In [28]:
# 의대리스트에 있는 대학교 필터
li_medi_univ = list(df.loc[df['학교명'].isin(li_medi)]['학교명'].unique())
for i, j in zip(li_medi, li_medi_univ):
    if i not in li_medi_univ:
        print(i)

성균관대학교(이원화캠퍼스)
연세대학교(분교)
동국대학교(분교)

# 나오지 않는 학교명:
- 성균관대학교(이원화캠퍼스)
- 연세대학교(분교)
- 동국대학교(분교)

In [31]:
df.loc[(df['학교명'].str.contains('성균관대학교'))&(df['대계열'].str.contains('의약'))]['학교명'].unique()

array(['성균관대학교', '성균관대학교 일반대학원', '성균관대학교 의학전문대학원', '성균관대학교 임상간호대학원'],
      dtype=object)

In [40]:
#서울대학교 기준 대계열이 의약계열인 학과 중 중계열, 계열 필터링
df.loc[(df['학교명'].str.contains('서울대학교'))&(df['대계열'].str.contains('의약'))&(df['학과명'].str.contains('의예'))][['학교명', '대계열', '중계열', '소계열',
       '학과코드', '학과명']].head(20)

        학교명   대계열 중계열 소계열          학과코드  학과명
7165  서울대학교  의약계열  의료  의학  U06010100002  의예과

# 탐색결과 
- 중계열: 의료
- 소계열: 의학
- 학과명: 의예과
## 예외
- 아주대: 의학과(예과)로 표기되어 있음 -> loc 검색조건 변경
- 차의과학대: 학부는 자율전공제로 인해 의미 없음 -> 리스트 변경 -> 차의과학대학교 의학전문대학원

In [49]:
#서울대학교 기준 대계열이 의약계열인 학과 중 중계열, 계열 필터링
df.loc[(df['대계열'].str.contains('의약'))&(df['학과명'].str.contains('의예'))&(df['소계열'] =='의학')][['학교명', '대계열', '중계열', '소계열',
       '학과코드', '학과명']]['학교명'].unique()

array(['강원대학교', '경북대학교', '경상국립대학교', '부산대학교', '서울대학교', '전남대학교', '전북대학교',
       '제주대학교', '충남대학교', '충북대학교', '가톨릭대학교', '건국대학교', '건양대학교', '가천대학교',
       '경희대학교', '계명대학교', '고려대학교', '고신대학교', '가톨릭관동대학교', '단국대학교',
       '대구가톨릭대학교', '동국대학교', '동아대학교', '성균관대학교', '순천향대학교', '연세대학교',
       '연세대학교 미래캠퍼스', '영남대학교', '울산대학교', '원광대학교', '을지대학교', '이화여자대학교',
       '인제대학교', '인하대학교', '조선대학교', '중앙대학교', '한림대학교', '한양대학교'], dtype=object)

In [50]:
li_medi_univ =list(df.loc[(df['대계열'].str.contains('의약'))&(df['학과명'].str.contains('의예'))&(df['소계열'] =='의학')][['학교명', '대계열', '중계열', '소계열',
       '학과코드', '학과명']]['학교명'].unique())
for i in li_medi:
    if i not in li_medi_univ:
        print(i)

성균관대학교(이원화캠퍼스)
아주대학교
차의과학대학교
연세대학교(분교)
동국대학교(분교)
건국대학교(분교)
단국대학교(이원화캠퍼스)

In [57]:
df.loc[(df['대계열'].str.contains('의약'))&(df['학교명'].isin(['아주대학교','차의과학대학교']))][['학교명', '대계열', '중계열', '소계열',
       '학과코드', '학과명','재적생_전체_계']]

           학교명   대계열    중계열  소계열          학과코드         학과명  재적생_전체_계
14197    아주대학교  의약계열     의료   의학  U06010100021     의학과(본과)       179
14198    아주대학교  의약계열     의료   의학  U06010100022     의학과(예과)        99
14199    아주대학교  의약계열     간호  간호학  U06020100004        간호학과       322
14200    아주대학교  의약계열     간호  간호학  U06020100017  간호학과(특별과정)        65
14201    아주대학교  의약계열     약학   약학  U06030100004         약학과       200
16067  차의과학대학교  의약계열     간호  간호학  U06020100004        간호학과       342
16068  차의과학대학교  의약계열     약학   약학  U06030100004         약학과       226
16069  차의과학대학교  의약계열  치료ㆍ보건  재활학  U06040200026      미술치료학과       106

- 아주대: 의학과(예과)로 표기되어 있음 -> loc 검색조건 변경
- 차의과학대: 학부는 자율전공제로 인해 의미 없음 -> 리스트 변경 -> 차의과학대학교 의학전문대학원

In [59]:
df.loc[(df['대계열'].str.contains('의약'))&(df['학교명'].str.contains('차의과학대학교'))][['학교명', '대계열', '중계열', '소계열',
       '학과코드', '학과명','시도','시군구','주소','재적생_전체_계']]

,학교명,대계열,중계열,소계열,학과코드,학과명,시도,시군구,주소,재적생_전체_계
16067,차의과학대학교,의약계열,간호,간호학,U06020100004,간호학과,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",342
16068,차의과학대학교,의약계열,약학,약학,U06030100004,약학과,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",226
16069,차의과학대학교,의약계열,치료ㆍ보건,재활학,U06040200026,미술치료학과,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",106
23649,차의과학대학교 대학원,의약계열,의료,의학,G06010100014,의학과,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",238
23650,차의과학대학교 대학원,의약계열,간호,간호학,G06020100004,간호학과,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",35
23651,차의과학대학교 대학원,의약계열,약학,약학,G06030100009,약학과,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",36
24887,차의과학대학교 의학전문대학원,의약계열,의료,의학,G06010100014,의학과,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",170
28683,차의과학대학교 임상약학대학원,의약계열,약학,약학,G06030100011,임상약학전공,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",37
28684,차의과학대학교 임상약학대학원,의약계열,약학,약학,G06030110001,사회약학전공,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",14
28686,차의과학대학교 통합의학대학원,의약계열,의료,의학,G06010100058,통합의학전공,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",64
28687,차의과학대학교 통합의학대학원,의약계열,치료ㆍ보건,재활학,G06040200137,자세체형교정전공,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",49
28688,차의과학대학교 통합의학대학원,의약계열,치료ㆍ보건,재활학,G06040200149,메디컬필라테스전공,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",8
28689,차의과학대학교 미술치료대학원,의약계열,치료ㆍ보건,재활학,G06040200092,임상미술치료전공,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",133
28691,차의과학대학교 보건산업대학원,의약계열,치료ㆍ보건,보건학,G06040100024,보건학전공,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",33
28692,차의과학대학교 보건산업대학원,의약계열,치료ㆍ보건,의료공학,G06040300071,융합디지털헬스케어전공,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",5
28693,차의과학대학교 스포츠의학대학원,의약계열,치료ㆍ보건,재활학,G06040200139,선수트레이닝전공,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",90
28694,차의과학대학교 스포츠의학대학원,의약계열,치료ㆍ보건,재활학,G06040200140,임상운동전공,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",74
28695,차의과학대학교 임상상담심리대학원,의약계열,치료ㆍ보건,재활학,G06040200150,임상및상담심리전공,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 차의과학대학교)",78

In [65]:
# 전국 40개 대학교
li_medi = [
        '서울대학교',
        '경희대학교',
        '연세대학교',
        '한양대학교',
        '고려대학교',
        '가톨릭대학교',
        '중앙대학교',
        '이화여자대학교',
        '인하대학교',
        '가천대학교',
        '부산대학교',
        '인제대학교',
        '고신대학교',
        '동아대학교',
        '울산대학교',
        '경북대학교',
        '계명대학교',
        '영남대학교',
        '대구가톨릭대학교',
        '전남대학교',
        '조선대학교',
        '충남대학교',
        '건양대학교',
        '을지대학교',
        '성균관대학교(이원화캠퍼스)',
        '아주대학교',
        '차의과학대학교 의학전문대학원',
        '강원대학교',
        '연세대학교(분교)',
        '한림대학교',
        '가톨릭관동대학교',
        '동국대학교(분교)',
        '경상국립대학교',
        '전북대학교',
        '원광대학교',
        '충북대학교',
        '건국대학교(분교)',
        '순천향대학교',
        '단국대학교(이원화캠퍼스)',
        '제주대학교']

#아주대, 차의과학대학교 제외 
df_1 = df.loc[(df['대계열'].str.contains('의약'))&(df['학과명'].str.contains('의예'))&(df['소계열'] =='의학')][['학교명', '대계열', '중계열', '소계열',
       '학과코드', '학과명','시도','시군구','주소','재적생_전체_계']]
#아주대
df_2 = df.loc[(df['학교명']=='아주대학교')&(df['학과명'].str.contains('(예과)'))&(df['소계열'] =='의학')][['학교명', '대계열', '중계열', '소계열',
       '학과코드', '학과명','시도','시군구','주소','재적생_전체_계']]
df_3 = df.loc[(df['학교명'] == '차의과학대학교 의학전문대학원')&(df['학과명'].str.contains('의학과'))&(df['소계열'] =='의학')][['학교명', '대계열', '중계열', '소계열',
       '학과코드', '학과명','시도','시군구','주소','재적생_전체_계']]

/var/folders/_p/b25fmdzs0gs_7l54_j6744sm0000gn/T/ipykernel_3581/1968754885.py:48: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_2 = df.loc[(df['학교명']=='아주대학교')&(df['학과명'].str.contains('(예과)'))&(df['소계열'] =='의학')][['학교명', '대계열', '중계열', '소계열',

In [70]:
#의대보유 대학
df_univ = pd.concat([df_1, df_2, df_3], axis = 0).reset_index(drop=True)

In [72]:
# 시도별 현황 파악
df_univ.groupby('시도')['학교명'].count()
# 경남(1->3), 경북(1->2), 대구(4->3), 부산(4->2) -> 갯수 안 맞음

시도
강원    4
경기    3
경남    3
경북    2
광주    2
대구    3
대전    3
부산    2
서울    8
울산    1
인천    2
전북    2
제주    1
충남    2
충북    2
Name: 학교명, dtype: int64

In [73]:
df_univ.loc[df_univ['시도'].isin(['경남','경북','대구','부산'])]

,학교명,대계열,중계열,소계열,학과코드,학과명,시도,시군구,주소,재적생_전체_계
1,경북대학교,의약계열,의료,의학,U06010100002,의예과,대구,대구 중구,대구 중구 국채보상로 680,233
2,경상국립대학교,의약계열,의료,의학,U06010100002,의예과,경남,경남 진주시,"경상남도 진주시 진주대로 501 (가좌동, 경상국립대학교가좌캠퍼스)",166
3,부산대학교,의약계열,의료,의학,U06010100002,의예과,경남,경남 양산시,경남 양산시 물금읍 부산대학로 49,259
15,계명대학교,의약계열,의료,의학,U06010100002,의예과,대구,대구 달서구,"대구광역시 달서구 달구벌대로 1095 (신당동, 계명대학교성서캠퍼스)",157
17,고신대학교,의약계열,의료,의학,U06010100002,의예과,부산,부산 서구,부산 서구 감천로 262 (암남동),161
20,대구가톨릭대학교,의약계열,의료,의학,U06010100002,의예과,대구,대구 남구,대구 남구 두류공원로17길 33,97
21,동국대학교,의약계열,의료,의학,U06010100002,의예과,경북,경북 경주시,경북 경주시 동대로 123 동국대학교 WISE캠퍼스,117
22,동아대학교,의약계열,의료,의학,U06010100002,의예과,부산,부산 서구,부산 서구 대신공원로 32 (동아대학교),103
27,영남대학교,의약계열,의료,의학,U06010100002,의예과,경북,경북 경산시,"경상북도 경산시 대학로 280 (대동, 영남대학교)",159
32,인제대학교,의약계열,의료,의학,U06010100002,의예과,경남,경남 김해시,"경상남도 김해시 인제로 197 (어방동, 인제대학교)",210

# 의대 현황 df + 정원변동사항

In [75]:
df_quota = pd.read_csv('../university_quota.csv')
df_quota.head()

      지역    대학명  현 정원  증가인원  최종 정원
0  서울특별시  서울대학교   135     0    135
1  서울특별시  경희대학교   110     0    110
2  서울특별시  연세대학교   110     0    110
3  서울특별시  한양대학교   110     0    110
4  서울특별시  고려대학교   106     0    106

In [81]:
# print(sorted(list(df_univ.학교명.unique())), '\n')
# print(sorted(list(df_quota.대학명.unique())) )
# 두 df 학교명이 일치하지는 않음 -> df_uni를 기준으로 변경
for i, j in zip(sorted(list(df_univ.학교명.unique())), sorted(list(df_quota.대학명.unique()))):
    print(i,':', j)

가천대학교 : 가천대학교
가톨릭관동대학교 : 가톨릭관동대학교
가톨릭대학교 : 가톨릭대학교
강원대학교 : 강원대학교
건국대학교 : 건국대학교(분교)
건양대학교 : 건양대학교
경북대학교 : 경북대학교
경상국립대학교 : 경상국립대학교
경희대학교 : 경희대학교
계명대학교 : 계명대학교
고려대학교 : 고려대학교
고신대학교 : 고신대학교
단국대학교 : 단국대학교(이원화캠퍼스)
대구가톨릭대학교 : 대구가톨릭대학교
동국대학교 : 동국대학교(분교)
동아대학교 : 동아대학교
부산대학교 : 부산대학교
서울대학교 : 서울대학교
성균관대학교 : 성균관대학교(이원화캠퍼스)
순천향대학교 : 순천향대학교
아주대학교 : 아주대학교
연세대학교 : 연세대학교
연세대학교 미래캠퍼스 : 연세대학교(분교)
영남대학교 : 영남대학교
울산대학교 : 울산대학교
원광대학교 : 원광대학교
을지대학교 : 을지대학교
이화여자대학교 : 이화여자대학교
인제대학교 : 인제대학교
인하대학교 : 인하대학교
전남대학교 : 전남대학교
전북대학교 : 전북대학교
제주대학교 : 제주대학교
조선대학교 : 조선대학교
중앙대학교 : 중앙대학교
차의과학대학교 의학전문대학원 : 차의과학대학교
충남대학교 : 충남대학교
충북대학교 : 충북대학교
한림대학교 : 한림대학교
한양대학교 : 한양대학교

In [83]:
df_univ, df_quota = df_univ.sort_values('학교명', ascending=False).reset_index(drop = True), df_quota.sort_values('대학명', ascending=False).reset_index(drop = True)

In [84]:
df_univ.head()

,학교명,대계열,중계열,소계열,학과코드,학과명,시도,시군구,주소,재적생_전체_계
0,한양대학교,의약계열,의료,의학,U06010100002,의예과,서울,서울 성동구,"서울특별시 성동구 왕십리로 222 (사근동, 한양대학교)",227
1,한림대학교,의약계열,의료,의학,U06010100002,의예과,강원,강원 춘천시,"강원특별자치도 춘천시 한림대학길 1 (옥천동, 한림대학교)",161
2,충북대학교,의약계열,의료,의학,U06010100002,의예과,충북,충북 청주시,"충청북도 청주시 서원구 충대로 1 (개신동, 충북대학교)",101
3,충남대학교,의약계열,의료,의학,U06010100002,의예과,대전,대전 유성구,"대전광역시 유성구 대학로 99 (궁동, 충남대학교)",240
4,차의과학대학교 의학전문대학원,의약계열,의료,의학,G06010100014,의학과,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",170

In [87]:
df_quota['학교명'] = df_univ['학교명']
df_univ_quota = pd.concat([df_univ, df_quota[['대학명','현 정원','증가인원','최종 정원']]], axis = 1)
df_univ_quota.head()

,학교명,대계열,중계열,소계열,학과코드,학과명,시도,시군구,주소,재적생_전체_계,대학명,현 정원,증가인원,최종 정원
0,한양대학교,의약계열,의료,의학,U06010100002,의예과,서울,서울 성동구,"서울특별시 성동구 왕십리로 222 (사근동, 한양대학교)",227,한양대학교,110,0,110
1,한림대학교,의약계열,의료,의학,U06010100002,의예과,강원,강원 춘천시,"강원특별자치도 춘천시 한림대학길 1 (옥천동, 한림대학교)",161,한림대학교,76,24,100
2,충북대학교,의약계열,의료,의학,U06010100002,의예과,충북,충북 청주시,"충청북도 청주시 서원구 충대로 1 (개신동, 충북대학교)",101,충북대학교,49,151,200
3,충남대학교,의약계열,의료,의학,U06010100002,의예과,대전,대전 유성구,"대전광역시 유성구 대학로 99 (궁동, 충남대학교)",240,충남대학교,110,90,200
4,차의과학대학교 의학전문대학원,의약계열,의료,의학,G06010100014,의학과,경기,경기 포천시,"경기도 포천시 해룡로 120 (동교동, 포천중문의과대학)",170,차의과학대학교,40,40,80

In [88]:
#매칭확인
df_univ_quota[['학교명','대학명']]

                학교명             대학명
0             한양대학교           한양대학교
1             한림대학교           한림대학교
2             충북대학교           충북대학교
3             충남대학교           충남대학교
4   차의과학대학교 의학전문대학원         차의과학대학교
5             중앙대학교           중앙대학교
6             조선대학교           조선대학교
7             제주대학교           제주대학교
8             전북대학교           전북대학교
9             전남대학교           전남대학교
10            인하대학교           인하대학교
11            인제대학교           인제대학교
12          이화여자대학교         이화여자대학교
13            을지대학교           을지대학교
14            원광대학교           원광대학교
15            울산대학교           울산대학교
16            영남대학교           영남대학교
17      연세대학교 미래캠퍼스       연세대학교(분교)
18            연세대학교           연세대학교
19            아주대학교           아주대학교
20           순천향대학교          순천향대학교
21           성균관대학교  성균관대학교(이원화캠퍼스)
22            서울대학교           서울대학교
23            부산대학교           부산대학교
24            동아대학교           동아대학교
25            동국대학교       동국대학교(분교)
26         대구가톨릭대학교        대구가톨릭대학교
27            단국대학교   단국대학교(이원화캠퍼스)
28            고신대학교           고신대학교
29            고려대학교           고려대학교
30            계명대학교           계명대학교
31            경희대학교           경희대학교
32          경상국립대학교         경상국립대학교
33            경북대학교           경북대학교
34            건양대학교           건양대학교
35            건국대학교       건국대학교(분교)
36            강원대학교           강원대학교
37           가톨릭대학교          가톨릭대학교
38         가톨릭관동대학교        가톨릭관동대학교
39            가천대학교           가천대학교

In [ ]:
df_univ_quota = df_univ_quota.drop(columns = ['대학명'])

In [92]:
df_univ_quota.columns

Index(['학교명', '대계열', '중계열', '소계열', '학과코드', '학과명', '시도', '시군구', '주소',
       '재적생_전체_계', '현 정원', '증가인원', '최종 정원'],
      dtype='object')

In [93]:
df_univ_quota.columns = ['학교명', '대계열', '중계열', '소계열', '학과코드', '학과명', '시도', '시군구', '주소',
       '재적생_전체_계', '현정원', '증가인원', '최종정원']

In [94]:
df_univ_quota.to_csv('../의과대학_정원.csv', index = False, encoding = 'utf-8')

# 맵픽을 이용한 지오코딩 및 최종파일 저장

In [101]:
df_univ_quota = pd.read_csv('../의과대학_정원_지오코딩.csv')
df_univ_quota = df_univ_quota[['경위도X좌표', '경위도Y좌표','학교명', '대계열', '중계열',
       '소계열', '학과코드', '학과명', '시도', '시군구', '주소', '재적생_전체_계', '현정원', '증가인원',
       '최종정원']]
df_univ_quota.to_csv('../의과대학_정원_최종.csv', index = False, encoding = 'utf-8')

# 아래는 다음의 사항을 다루고 있습니다.
- 1. GIS 시각화를 위한 시도 데이터(shp) 가공
- 2. 인구-의대 정원 증원 전후 비교를 위한 연령별 인구데이터-시도데이터 매칭
- 3. 시도별 의대정원 비교를 위한 2.와 학교별 의대 정원 데이터 매칭

In [2]:
#시도별 레이어 데이터
import geopandas as gpd
file = gpd.read_file('../BND_SIDO_PG.zip', encoding = 'cp949')
gdf = gpd.GeoDataFrame(file, crs = 'EPSG:5186')
gdf.head()

  BASE_DATE SIDO_CD SIDO_NM                                           geometry
0  20230701      11   서울특별시  POLYGON ((201748.532 566815.017, 201953.244 56...
1  20230701      21   부산광역시  MULTIPOLYGON (((378441.217 256011.416, 378440....
2  20230701      22   대구광역시  POLYGON ((330688.544 415299.942, 330688.134 41...
3  20230701      23   인천광역시  MULTIPOLYGON (((91935.674 481967.049, 91936.11...
4  20230701      24   광주광역시  POLYGON ((178186.330 295822.605, 178255.423 29...

In [6]:
#시도별/연령별 인구데이터
df_pop = pd.read_csv('../202405_202405_연령별인구현황_월간.csv',
                      encoding = 'cp949',
                      thousands= ',')
df_pop.head()

,행정구역,2024년05월_계_총인구수,2024년05월_계_연령구간인구수,2024년05월_계_0~9세,2024년05월_계_10~19세,2024년05월_계_20~29세,2024년05월_계_30~39세,2024년05월_계_40~49세,2024년05월_계_50~59세,2024년05월_계_60~69세,...,2024년05월_여_10~19세,2024년05월_여_20~29세,2024년05월_여_30~39세,2024년05월_여_40~49세,2024년05월_여_50~59세,2024년05월_여_60~69세,2024년05월_여_70~79세,2024년05월_여_80~89세,2024년05월_여_90~99세,2024년05월_여_100세 이상
0,전국 (0000000000),"51,277,347","51,277,347","3,244,705","4,632,527","6,090,603","6,585,093","7,827,038","8,726,213","7,725,856",...,"2,250,173","2,913,546","3,153,965","3,847,170","4,324,534","3,921,944","2,183,486","1,314,396","242,176","7,177"
1,서울특별시 (1100000000),"9,371,930","9,371,930","499,875","729,437","1,340,759","1,431,670","1,403,182","1,495,784","1,323,704",...,"356,752","707,162","715,572","709,033","760,407","697,163","411,355","206,896","34,635","1,149"
2,부산광역시 (2600000000),"3,282,751","3,282,751","188,948","262,934","369,420","389,821","478,626","540,440","562,390",...,"128,139","180,067","188,812","236,724","276,199","297,793","179,382","90,104","13,978",370
3,대구광역시 (2700000000),"2,367,803","2,367,803","146,691","212,656","275,253","280,691","350,673","419,806","370,680",...,"103,198","130,357","130,937","176,785","214,931","193,446","110,691","63,316","10,088",224
4,인천광역시 (2800000000),"3,009,873","3,009,873","199,369","271,852","358,787","417,484","478,415","517,868","450,332",...,"132,345","173,043","199,695","232,415","259,811","228,004","108,742","61,434","12,180",401