# 맵픽 서비스랩의 테마지도 제작을 위한 프로젝트입니다.
- 2024년 최대 이슈인 의대 정원 증원에 대해 살펴보고
- 그 영향을 시각화하여 지도에 표시하고자 합니다.

In [4]:
# 필요라이브러리
import pandas as pd

# 원천데이터
- 202405_202405_연령별인구현황_월간.csv: 시도별/연령별 데이터
- BND_SIDO_PG.zip: 시도레이어

# 본 소스코드는 다음의 사항을 다루고 있습니다.
- 1. GIS 시각화를 위한 시도 데이터(shp) 가공
- 2. 인구-의대 정원 증원 전후 비교를 위한 연령별 인구데이터-시도데이터 매칭
- 3. 시도별 의대정원 비교를 위한 2.와 학교별 의대 정원 데이터 매칭

In [1]:
#시도별 레이어 데이터
import geopandas as gpd
file = gpd.read_file('../BND_SIDO_PG.zip', encoding = 'cp949')
gdf = gpd.GeoDataFrame(file, crs = 'EPSG:5186')
gdf.head()

In [6]:
#시도별/연령별 인구데이터
df_pop = pd.read_csv('../202405_202405_연령별인구현황_월간.csv',
                      encoding = 'cp949',
                      thousands= ',')
df_pop.head()

,행정구역,2024년05월_계_총인구수,2024년05월_계_연령구간인구수,2024년05월_계_0~9세,2024년05월_계_10~19세,2024년05월_계_20~29세,2024년05월_계_30~39세,2024년05월_계_40~49세,2024년05월_계_50~59세,2024년05월_계_60~69세,...,2024년05월_여_10~19세,2024년05월_여_20~29세,2024년05월_여_30~39세,2024년05월_여_40~49세,2024년05월_여_50~59세,2024년05월_여_60~69세,2024년05월_여_70~79세,2024년05월_여_80~89세,2024년05월_여_90~99세,2024년05월_여_100세 이상
0,전국 (0000000000),"51,277,347","51,277,347","3,244,705","4,632,527","6,090,603","6,585,093","7,827,038","8,726,213","7,725,856",...,"2,250,173","2,913,546","3,153,965","3,847,170","4,324,534","3,921,944","2,183,486","1,314,396","242,176","7,177"
1,서울특별시 (1100000000),"9,371,930","9,371,930","499,875","729,437","1,340,759","1,431,670","1,403,182","1,495,784","1,323,704",...,"356,752","707,162","715,572","709,033","760,407","697,163","411,355","206,896","34,635","1,149"
2,부산광역시 (2600000000),"3,282,751","3,282,751","188,948","262,934","369,420","389,821","478,626","540,440","562,390",...,"128,139","180,067","188,812","236,724","276,199","297,793","179,382","90,104","13,978",370
3,대구광역시 (2700000000),"2,367,803","2,367,803","146,691","212,656","275,253","280,691","350,673","419,806","370,680",...,"103,198","130,357","130,937","176,785","214,931","193,446","110,691","63,316","10,088",224
4,인천광역시 (2800000000),"3,009,873","3,009,873","199,369","271,852","358,787","417,484","478,415","517,868","450,332",...,"132,345","173,043","199,695","232,415","259,811","228,004","108,742","61,434","12,180",401